body{
    background-image: url('backgroundImage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: azure;
}

.form{
    text-align: center;
}
.message{
    color: red;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
